.split-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &.vertical {
    flex-direction: row;
  }

  &.horizontal {
    flex-direction: column;
  }
}

.split-pane {
  overflow: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #2b2b2b;
  }

  &::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 5px;

    &:hover {
      background: #5e5e5e;
    }
  }
}

.split-divider {
  background-color: #323232;
  cursor: ew-resize;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.2s;

  .vertical & {
    width: 4px;
    cursor: ew-resize;
  }

  .horizontal & {
    height: 4px;
    cursor: ns-resize;
  }

  &:hover,
  &.dragging {
    background-color: #4b6eaf;
  }

  .divider-handle {
    position: absolute;
    background-color: transparent;

    .vertical & {
      width: 12px;
      height: 100%;
      left: -4px;
      top: 0;
    }

    .horizontal & {
      height: 12px;
      width: 100%;
      top: -4px;
      left: 0;
    }
  }
}

.dragging {
  user-select: none;
}
