<mat-toolbar color="primary" class="app-toolbar">
  <span>Forensic</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div class="app-container">
  <app-sidebar
    [tools]="sidebarTools"
    [config]="sidebarConfig"
    [defaultOpenTool]="'project'"
    (toolChanged)="onToolChanged($event)">
  </app-sidebar>

  <div class="main-content">
    <router-outlet />
  </div>
</div>

<!-- Tool Content Templates -->
<ng-template #projectContent>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon matListItemIcon>folder_open</mat-icon>
      <span matListItemTitle>src</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <span matListItemTitle>assets</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>insert_drive_file</mat-icon>
      <span matListItemTitle>package.json</span>
    </mat-list-item>
  </mat-nav-list>
</ng-template>

<ng-template #timelineContent>
  <div class="tool-content-placeholder">
    <mat-icon>timeline</mat-icon>
    <p>Timeline view will be displayed here</p>
  </div>
</ng-template>

<ng-template #evidenceContent>
  <div class="tool-content-placeholder">
    <mat-icon>description</mat-icon>
    <p>Evidence files will be listed here</p>
  </div>
</ng-template>

<ng-template #analysisContent>
  <div class="tool-content-placeholder">
    <mat-icon>analytics</mat-icon>
    <p>Analysis results will be shown here</p>
  </div>
</ng-template>

<ng-template #searchContent>
  <div class="tool-content-placeholder">
    <mat-icon>search</mat-icon>
    <p>Search interface</p>
  </div>
</ng-template>
