@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}


.forensic-dialog .mdc-dialog__surface {
  background: transparent;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.6),
              0 24px 38px 3px rgba(0, 0, 0, 0.42),
              0 9px 46px 8px rgba(0, 0, 0, 0.36);
  max-width: none !important;
}

html {
    --dialog-container-max-width: 100%;
    --dialog-container-small-max-width: 100%
}